@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

body {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
}

.calcBtn {
	background-color: silver;
	color: black;
	width: 25px;
	height: 45px;
	border: 1px solid grey;
	text-align: center;
	cursor: pointer;
	font-size: 32px;
	padding-top: 3px;
}

.calcBtn:hover {
	background-color: #e5e5e5;
}

.row {
	display: table;
	table-layout: fixed;
	width: 250px;
}

.column {
	display: table-cell;
}

#calcZero {
	width: 51px;
	border-radius: 0 0 0 7px;
}

#calcDisplay {
	height: 64px;
	color: white;
	text-align: right;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-top: 1px solid grey;
	font-size: 48px;
	background-color: #383838;
	overflow: hidden;
	white-space: nowrap;
	padding: 12px;
	border-radius: 7px 7px 0 0;
}

.calcOperBtn {
	background-color: orange;
	color: white;
}

h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
	font-weight: 400;
}

#calcEqual {
	border-radius: 0 0 7px 0;
}

#calcParent {
	margin-left: calc(50% - 125px);
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#nonCalc {
	margin-top: 50px;
	font-weight: 400;
	text-align: center;
	font-size: 18px;
}

.cleanLink {
	text-decoration: none;
	color: #0539D7;
}

.cleanLink:hover {
	color: #002288;
} 

.cleanLink:active {
	color: #002288;
}